@import '../styles/variables';

.App {
  text-align: center;
}

body {
  margin: 20px;
  display: flex;
  justify-content: center;
}

#root {
  width:75%;
}

form {
  padding-top: 50px;
}

.lyrics-container {
  padding: 30px;
  font-size: 25;
  font-weight: bold;
  color: $textColor !important;
}

Label {
  font-size: 30px;
  font-weight: bold;
  color: $textColor !important;
}
